<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong>{{title}}</strong>
                   <span><a class="btn-map btn btn-primary" [routerLink]="['/admin/model/add/step3', id]" >Return to HTML</a></span>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="file-multiple-input">Language</label>
                        <div class="col-md-9">
                          <select class="form-control" (change)="onChange($event.target)" required>
                            <option *ngFor="let language of languages"  value="{{language.id}}"  [selected]="language.id == lang">
                                {{ language.value }}
                            </option>
                          </select>
                        </div>
                      </div>
                    <div class="model-div">
                    <table class="table table-bordered table-striped table-sm tbl-model">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Capter</th>
                                <th>Topic</th>
                                <th>Action</th>
                           </tr>
                        </thead>
  
                        <tbody>
                            <ng-container *ngIf="capterList.length>0 && htmlPath!=''">
                                <tr *ngFor="let c of capterList; let index = index; let last = last;">
                                    <td>{{index+1}}</td>  
                                    <td>{{c._name}}</td>
                                    <td>{{c._topic}}</td>
                                    <td><a [routerLink]="['/admin/model/remap', main_id, id, index]" ><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                                </tr>
                            </ng-container>

                            <tr *ngIf="capterList.length==0 || htmlPath==''"><td colspan="4">No Data to display</td></tr>
                        </tbody>
                    </table>
                   
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>
