<div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong>Change Password</strong>
          </div>
          <form    (ngSubmit)="changePassword(changePasswordForm)" ngNativeValidate >
              
          <div class="card-body">
           
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-multiple-input">Current Password</label>
                <div class="col-md-9">
                  <!-- <input type="file" [uploadx]="options" (state)="onUpload($event)"> -->
                  <input class="form-control"  id="old-password" type="password"  (input)="onChange($event)" placeholder="Old Password"  [(ngModel)]="old_password" required />
                    <div class="error-messages" >
                        <!-- <ng-container *ngFor="let error of error_messages.fname">
                            <div class="error-message" *ngIf="changePasswordForm.get('old_password').hasError(error.type) && (changePasswordForm.get('old_password').dirty || changePasswordForm.get('old_password').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container> -->
                    </div>
                </div>

              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-multiple-input">New Password</label>
                <div class="col-md-9">
                    <input class="form-control" id="new-password" pattern=".{6,}" type="password" (input)="onChange($event)" [(ngModel)]="new_password"  placeholder="New Password" title="Password must be min 6 characters long" required />
                    <div class="error-messages">
                        <!-- <ng-container *ngFor="let error of error_messages.fname">
                            <div class="error-message" *ngIf="changePasswordForm.get('new_password').hasError(error.type) && (changePasswordForm.get('new_password').dirty || changePasswordForm.get('new_password').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container> -->
                    </div>
                    
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="file-multiple-input">Confirm Password</label>
                <div class="col-md-9">
                    <input class="form-control" id="confirm-password"  type="password" (input)="onChange($event)"  placeholder="Confirm Password" required />
                    <div class="error-messages">
                        <!-- <ng-container *ngFor="let error of error_messages.fname">
                            <div class="error-message" *ngIf="changePasswordForm.get('confirm_password').hasError(error.type) && (changePasswordForm.get('confirm_password').dirty || changePasswordForm.get('confirm_password').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container> -->
                    </div>
                   
                </div>
              </div>
            </div>
              <div class="card-footer text-center">             
                <button type="submit" class="btn btn-sm btn-primary" >UPDATE</button>
                  <span><button  type="button" class="btn btn-sm btn-primary" (click)="back()" >CANCEL</button></span>
            </div>
           
            </form>
         </div>
         </div>
         </div>
        
  </div>
  